[submodule "fase1/FIAPCloudGames"]
	path = fase1/FIAPCloudGames
	url = https://github.com/joao-malvetoni-alta-horizon/FIAPCloudGames.git
[submodule "fase2/CatalogAPI"]
	path = fase2/CatalogAPI
	url = https://github.com/joao-malvetoni-alta-horizon/FIAPCloudGames-fase2-CatalogAPI.git
[submodule "fase2/NotificationsAPI"]
	path = fase2/NotificationsAPI
	url = https://github.com/joao-malvetoni-alta-horizon/FIAPCloudGames-fase2-NotificationsAPI.git
[submodule "fase2/Orchestration"]
	path = fase2/Orchestration
	url = https://github.com/andersonluizpereiradias/FIAPCloudGames-fase2-Orchestration.git
[submodule "fase2/PaymentsAPI"]
	path = fase2/PaymentsAPI
	url = https://github.com/joao-malvetoni-alta-horizon/FIAPCloudGames-fase2-PaymentsAPI.git
[submodule "fase2/UsersAPI"]
	path = fase2/UsersAPI
	url = https://github.com/joao-malvetoni-alta-horizon/FIAPCloudGames-fase2-UsersAPI.git
[submodule "fase3/CatalogAPI"]
	path = fase3/CatalogAPI
	url = https://github.com/joao-malvetoni-alta-horizon/FIAPCloudGames-fase3-CatalogAPI.git
[submodule "fase3/NotificationsAPI"]
	path = fase3/NotificationsAPI
	url = https://github.com/joao-malvetoni-alta-horizon/FIAPCloudGames-fase3-NotificationsAPI.git
[submodule "fase3/Orchestration"]
	path = fase3/Orchestration
	url = https://github.com/joao-malvetoni-alta-horizon/FIAPCloudGames-fase3-Orchestration.git
[submodule "fase3/Orchestration-anderson"]
	path = fase3/Orchestration-anderson
	url = https://github.com/andersonluizpereiradias/FIAPCloudGames-fase3-Orchestration.git
[submodule "fase3/PaymentsAPI"]
	path = fase3/PaymentsAPI
	url = https://github.com/joao-malvetoni-alta-horizon/FIAPCloudGames-fase3-PaymentsAPI.git
[submodule "fase3/UsersAPI"]
	path = fase3/UsersAPI
	url = https://github.com/joao-malvetoni-alta-horizon/FIAPCloudGames-fase3-UsersAPI.git
